a:hover, a:focus { outline: none; }
hr { margin: 0.7142em 0; }

/* ++++++++++++++++++++++++++ */
/* +  OVERWIRITE BOOTSTRAP  + */
/* ++++++++++++++++++++++++++ */

/* +++++ MODAL WINDOW +++++ */
.modal .modal-content { border-radius: 0; }
.modal .modal-header { background-color: rgb(0, 160, 174); color: #fff; padding:0.7142em 1.07142em; }
.modal .modal-header .modal-title { font-size: 1.2857em; }
.modal .modal-header .close { color: #fff; margin-top: 0; opacity: 1; text-shadow: inherit; width: 25px; }
.modal .modal-body legend { border-bottom: none; font-size: 1.1428em; margin-bottom: 1.125em; }

/* +++++ PANEL +++++ */
.panel-generic { margin-bottom: 1.5em; margin-top: 0.75em; }
.panel-generic .panel-heading { padding: 0; }
.panel-generic .panel-title > a { color: #000; display: block; line-height: 1.25em; padding: 0.937em; }
.panel-generic .panel-title > a .icoe-arrow-02-bold-bottom { color: #777; }
.panel-generic .panel-body { padding: 0.714em; }

/* +++++ BUTTONS +++++ */
.btn-warning { background-color: #f97b00; border-color: #eea236; }

/* +++++ ALERT +++++ */
.alert.messages-alert { margin-bottom: 0.7142em; padding: 0.7142em; }
.alert-dismissible.messages-alert { padding-right: 2em; }
.alert-dismissible.messages-alert .close { font-size: 1.1428em; height: 1.25em; width: 1.25em; }

/* +++++++++++++++++++++++++ */
/* +  WINDOW LOAD COUNTER  + */
/* +++++++++++++++++++++++++ */
#load-counter > .modal-dialog { background: rgba(0,0,0,0.65) url('../../img/blind-counter-big.gif') no-repeat 50% 50%; border-radius: 8px; height: 112px; margin: 0; width: 112px; }

.money:before { content: "$"; }
.text-legal { color: #888; font-size: 0.8571em; text-align: justify; }

/* ++++++++++++ */
/* +  HEADER  + */
/* ++++++++++++ */
#header { border-bottom: 5px solid #ffe800; min-width: 320px; margin-bottom: 0.5em; }
#header a:hover,
#header a:focus { outline: none; text-decoration: none; }
#header.checkout { border-bottom: 2px solid #333; margin-bottom: 0; }

#header-top { background-color: #ffe800; min-height: 3.642em; padding: 0.214em; position: relative }
#header.checkout #header-top { text-align: center; }

#header-top > a { color: #000; height: 3.214em; }
#header-top > a > span { display: block; font-size: 1.928em; line-height: 1.111em; text-align: center; vertical-align: bottom; }
#header-logo { float: left; margin-left: 68px; padding: 0.357em 0; }
#header.checkout #header-logo { display: inline-block; float: inherit; margin-left: 0; padding: 0.357em 0; }


/* ++++++++++++++++ */
/* +  MY ACCOUNT  + */
/* ++++++++++++++++ */

/* +++++ PANEL ADDRESS  +++++ */
.my-address.panel { border-color: #c1c1c1; margin-bottom: 1em; }
.my-address .panel-heading { background-color: transparent; display: block; min-height: 25px; overflow: hidden; padding: 0 0.35em 0 0; position: relative; width: 100%; }
.my-address .panel-heading .panel-title { display: inline-block; font-weight: normal; line-height: 1.875em; }
.my-address .panel-heading > button { background-color: transparent; border: none; color: #666; cursor: pointer; font-weight: normal; float: right; height: 30px; margin-left: 0.3em; opacity: 1; overflow: hidden; text-shadow: none; width: 30px; }
.my-address .panel-heading .delete-address > span { font-size: 1.1em; line-height: 1em; }
.my-address .panel-heading .edit-address > span { font-size: 1.3em; line-height: 0.9em; }
.my-address .panel-body { padding: 0 0.7142em 0.7142em; }
.my-address .panel-body p.text-danger { margin-bottom: 0; }

.my-address.panel-warning { background-color: #fcf8e3; border-color: #faebcc; }
.my-address.panel-warning .panel-heading { border-bottom: none; padding: 0.4285em 0.35em 0.4285em 0.714em; }
.my-address.panel-warning .panel-heading .panel-title { color: #f57a05; }
.my-address.panel-warning .panel-body .list-unstyled { margin-bottom: 0; }

/* ++++++++++++++++++++ */
/* + PAYMENT PROCESS  + */
/* ++++++++++++++++++++ */
.payment-process { margin-top: -74px; }

/* +++++ PRODUCT +++++ */
.panel-pay .product { border-bottom: 1px dotted #ddd; color: #000; margin-top: 1em; padding-bottom: 1em; position: relative; }
.body-see-summary-products .product-list .product { margin-left: 0; margin-right: 0; }
.panel-pay .product .col-images { padding-left: 0; padding-right: 0; }
.panel-pay .product .col-name { padding-right: 0; }
.panel-pay .product .col-quantity-price {}
.panel-pay .product .col-quantity { text-align: center; }
.panel-pay .product .col-price { text-align: right; }

/* +++++ PRODUCT IMAGES +++++ */
.panel-pay .product .product-image {}
.panel-pay .product .product-image .image { border: 1px solid #ddd; margin: auto; position: relative; text-align: center; width: 100%; }
.panel-pay .product .product-image .supply,
.panel-pay .product .product-data .supply { background-color: #dc0b13;  display: inline-block; color: #fff; font-size: 0.9em; margin: 0;  padding: 0 0.4em; position: absolute; right: -1px; top: -1px; z-index: 1; }
.panel-pay .product .product-image .supply > span,
.panel-pay .product .product-data .supply > span { font-size: 1.3em; }
.panel-pay .product .product-image .product-cart { background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 1.1em; margin: 0; padding: 0.25em 0; position: absolute; text-align: center; top: 40%; width: 100%; z-index: 1; }

/* +++++ PRODUCT INFORMATION +++++ */
.panel-pay .product .name,
.panel-pay .product .brand,
.panel-pay .product .presentation,
.panel-pay .product .price,
.panel-pay .product .price-per-gram,
.panel-pay .product .other,
.panel-pay .product .before,
.panel-pay .product .quantity,
.panel-pay .product .text-danger { font-size: 1em; line-height: 1.2857em; margin-bottom: 0.3571em; position: relative; }
.panel-pay .product .brand,
.panel-pay .product .presentation { color: #666; font-size: 0.785em; margin-bottom: 0.45em; }
.panel-pay .product .price { font-size: 1.571em; line-height: 1.454em; margin-bottom: 0.35em; margin-top: 0; position: relative; }
.panel-pay .product .price > i { position: absolute; margin-left: 0.35em; top: -3px; }
.panel-pay .product .price .iconPaymentCard { display: inline-block; width: 38px; margin-left: 2px; margin-top: -4px; }
.panel-pay .product .price.offer { color: #dc0b13; }
.panel-pay .product .other,
.panel-pay .product .before { font-size: 0.928em; }
.panel-pay .product .before .strikeText { text-decoration: line-through; }
.panel-pay .product .quantity {}

/* +++++ PRODUCT TEXTIL COLORS +++++ */
.panel-pay .product .product-colors { display: block; margin-top: 0.572em; overflow: hidden; width: 100%; }
.panel-pay .product .product-colors .color,
.panel-pay .product .product-colors .talla { float: left; height: 35px; margin: 0.2em;  width: 35px; }
.panel-pay .product .product-colors .color { border: 1px solid #fff; outline: 1px solid #d1d1d1; }
.panel-pay .product .product-colors .color.active { border: 1px solid rgb(255,255,255); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset, 0px 0px 6px rgba(102, 175, 233, 0.75); outline: 1px solid rgba(102, 175, 233, 0.75); }
.panel-pay .product .product-colors .talla { border: 1px solid #ccc; color: #333; font-size: 1.2em; line-height: 1.9em; text-align: center; }

/* +++++ ERROR MESSAGES +++++ */
.payment-process > .error-messages { background-color: #fff; padding-top: 15px; }

/* +++++ PROGRESS BAR +++++ */
#payment-process-bar { background-color: #f5f5f5; border-bottom: 1px solid #aaa; min-width: 320px; padding-bottom: 7.1428em; padding-top: 2em; overflow: hidden; }
#payment-process-bar .payment-process { margin-top: 0; }
#payment-process-bar .col-xs-2 { padding: 0; text-align: center; width: 21.66666667%; }
#payment-process-bar .col-xs-1 { color: #aaa; margin-top: 0.5em; padding: 0; text-align: center; width: 4.3333%; }
#payment-process-bar .payment-process-step { color: #888; display: block; text-align: center; }
#payment-process-bar .payment-process-step span {
	background-color: #aaa;
	border-radius: 17px;
	color: #fff;
	display: block;
	font-size: 1.2857em;
	height: 1.9444em;
	line-height: 1.944em;
	margin: auto auto 0.3333em;
	text-align: center;
	width: 1.9444em;
}
#payment-process-bar .payment-process-step p { font-size: 1em; line-height: 1em; margin: 0; }
#payment-process-bar .payment-process-step.active { color: #93d046; }
#payment-process-bar .payment-process-step.active span { background-color: #93d046; }

/* +++++ SEE SUMMARY PRODUCTS +++++ */
.see-summary-products { display: inline-block; padding-bottom: 0.536em; padding-top: 0.536em; }
.body-see-summary-products > .row.product-list { margin-left: 0; margin-right: 0; min-width: inherit; }

/* +++++ SHIPPMENT INFORMATION - TAPS DELIVERY AND DRIVING +++++ */
.nav.header-tab-shipping { border-bottom-color: #aaa; min-width: 300px; }
.header-tab-shipping > li { background-color: #f3f3f3; border-top: 3px solid transparent; display: table; width: 50%; }
.header-tab-shipping > li > a {
	background-color: #eee;
	border-color: #aaa;
	border-bottom-width: 0;
	border-radius: inherit;
	color: #555;
	display: table-cell;
	font-size: 1.5em;
	height: 70px;
	line-height: 1.5em;
	margin-right: 0;
	padding: 0.4286em 0.4762em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.header-tab-shipping > li > a:focus,
.header-tab-shipping > li > a:hover { background-color: #f5f7f9; border-left-color: #aaa; border-right-color: #777; border-top-color: #777; color: #000; }
.header-tab-shipping > li.active > a,
.header-tab-shipping > li.active > a:hover,
.header-tab-shipping > li.active > a:focus { border: none; outline: none; }
.header-tab-shipping > li > a > span { font-size: 1.2381em; position: relative; top: -4px; }

.header-tab-shipping > .active.delivery { border-top: 4px solid #9166ff; }
.header-tab-shipping > .active.delivery > a,
.header-tab-shipping > .active.delivery > a:hover,
.header-tab-shipping > .active.delivery > a:focus { color: #9166ff; }
.header-tab-shipping .active.pickup { border-top: 4px solid #22becc; }
.header-tab-shipping .active.pickup > a,
.header-tab-shipping > .active.pickup > a:hover,
.header-tab-shipping > .active.pickup > a:focus { color: #22becc; }

.tab-content.body-tap-shipping { padding-top: 1.5em; margin-bottom: 2em; }

/* +++++ SHIPMENT INFORMATION - DELIVERY PANEL +++++ */
#body-registered-addresses-delivery > .panel-body { padding-bottom: 0; }
#body-registered-addresses-delivery .panel-body .row { margin-left: -10px; margin-right: -10px; }
#body-registered-addresses-delivery .panel-body .row .col-md-6 { padding-left: 10px; padding-right: 10px; }
#body-registered-addresses-delivery .panel-body .row hr { border-width:0; float:left; margin: 0; width: 100%; }

/* +++++ SHIPMENT INFORMATION - DRIVING PANEL +++++ */
.panel-pay { border-width: 1px; border-style: solid; color: #474848; margin: 0 0 0.857em 0; padding: 0.857em; }
.panel-pay .title { border-bottom: none; font-size: 1.357em; color: #9166ff; line-height: 1.25em; margin: 0 0 0.631em; }
.panel-pay .title span { margin-right: 0.35em; }
.panel-pay.shipping { border-color: #b498fb; }
#pickup .panel-pay.no-food,
#pickup .panel-pay.food { display: none; }
.panel-pay.no-food { border-color: #3e9ae0;}
.panel-pay.no-food .title { color: #2282cc; }
.panel-pay.no-food .alert { display: none; }
.panel-pay.no-food #pickup-name { font-weight: bold; }
.panel-pay.food { border-color: #80d219; }
.panel-pay.food .title { color: #8db512; }
.panel-pay.food .alert ul li { font-size: 1.142em; line-height: 1.25em; margin: 0.35em 0; text-align: center; }


/* +++++ PAYMENT METHOD +++++ */
#payment-page > .row { background-color: #fff; border-top: 4px solid #70c2ca; }
.payment-title { color: #70c2ca; font-size: 1.5em; height: 70px; line-height: 1.4285em; margin-right: 0; padding: 0.9523em 0; text-align: center; }

#panel-payment-methods .panel-generic { margin-bottom: 0.714em; }
#panel-payment-methods .panel-heading { min-height: 50px; }
#panel-payment-methods .panel-title a { padding-left: 0.875em; padding-right: 8.125em; position: relative; }
#panel-payment-methods .panel-title small { font-size: 0.8em; }
#panel-payment-methods .panel-title small,
#panel-payment-methods .panel-body small { display: block; line-height: 1.15em; margin-top: 0.625em; }
#panel-payment-methods .payment-methods-images { border: none; display: block; height: 45px; position: absolute; right: 0.5em; top: 0.937em; width: 120px; z-index: 2; }

#panel-payment-methods .panel-heading:hover { background-color: #eee; }
#panel-payment-methods .panel-heading:hover a { text-decoration: none; }

#panel-payment-methods .panel-body { background-color: #e7e7e7; }
#panel-payment-methods .franchise { display: none; }
#panel-payment-methods .panel-body .form-group.has-feedback .form-control-feedback.icoe-card,
#panel-payment-methods .panel-body .form-group.has-feedback .form-control-feedback.icoe-card-american,
#panel-payment-methods .panel-body .form-group.has-feedback .form-control-feedback.icoe-card-dinner,
#panel-payment-methods .panel-body .form-group.has-feedback .form-control-feedback.icoe-card-mastercard,
#panel-payment-methods .panel-body .form-group.has-feedback .form-control-feedback.icoe-card-visa { font-size: 3.6em; right: 4px; text-align: right; width: 56px; }

/* +++++ REVIEW PAGE +++++ */
#review-page .text-justify { margin-top: 1em; }

.review-container { background-color: #f3f3f3; border: 6px solid #fff; margin-bottom: 1em; padding: 1em; }
.review-container > h4 { font-size: 1.1em; font-weight: bold; margin-top: 0; margin-bottom: 0.4285em; }
.review-detail { background-color: #fff; border: 1px solid #e0e0e0; padding: 1em; text-align: right; }
.review-detail .tag { color: #827e7e; }
.review-detail .value { font-size: 1.142em; color: #000; }
.review-detail .value.total { color: #dc0b13; font-weight: bold; }

.review-points { margin-bottom: 1em; }
.review-points .col-xs-12 { border: 1px solid #e0e0e0; color: #7c7c7c; padding-bottom: 6px; padding-top: 6px; font-size: 0.9em; text-align: right; }
.review-points .col-xs-12 strong { color: #000; }

.review-purchase { margin-bottom: 1em; }
.review-purchase .badge-secure img { float: left; margin-right: 18px; }
.review-purchase .badge-secure p { font-size:0.8em; color: #969587; line-height: 14px; letter-spacing: -0.2px; }

/* +++++ REVIEW - PANELS BILLING INFORMATION +++++ */
.panel-review { margin-top: 0; margin-bottom: 0.5em; }
.panel-generic.panel-review .panel-heading { background-color: #fff; border-bottom: none; color:#29a4b0; font-size: 1.1428em; padding: 6px 10px 0; }
.panel-generic.panel-review .panel-body { color: #827e7e; }
.panel-review .panel-body ul { margin-bottom: 0;}
.panel-review .panel-body ul li { word-wrap: break-word; }
.panel-review .panel-body ul span { color: #000; }
.panel-review .panel-body ul ul { padding-left: 20px; }
.panel-review .panel-body ul ul li { color: #000; }
.panel-review .panel-body .mobil-link { display: inline-block; margin-top: 10px; }

/* +++++ REVIEW - ALERT PRODUCTS CHANGE +++++ */
.alert-inventory-manager { background-color: #ffeeee; }
.alert-inventory-manager > strong { display: block; margin-bottom: 0.4285em; }
.alert-inventory-manager p { color: #444; }
.alert-inventory-manager ul { padding-left: 2.25em }

/* +++++ REVIEW - GIFT CARD PANEL +++++ */
.panel-pay.gift-card { border: 1px solid #f18686; }
.gift-card .title { color: #dc0b13; }
.gift-card .detail-gif-card { color: #827e7e; margin-bottom: 0;}
.gift-card .detail-gif-card li { word-wrap: break-word; }
.gift-card .detail-gif-card span { color: #000; }

/* +++++ REVIEW - PRODUCT LIST +++++ */
#review-page .product-list { padding-left: 10px; padding-right: 10px; }
#review-page .product-list .product { margin-left: -10px; margin-right: -10px; }
#review-page .product-list .product .product-image .image { min-height: inherit; }
#review-page .product-list .product .name { margin-top: 0.3571em; }
#review-page .product-list .product .quantity { line-height: 1.75em; }
#review-page .product-list .product .price { line-height: 1.15em; }

.tex-legal { color: #666; font-size: 0.8571em; }
.tex-legal strong { display: inline-block; font-size: 1.1666em; margin-bottom: 0.4285em; }
.tex-legal ul { padding-left: 1.8333em; }

/* +++++ CHECKOUT PAGE +++++ */
#checkout-page { margin-top: 24px; }
#checkout-page .title { color: #92c04e; font-size: 2em; font-weight: 300; line-height: 1.25em; margin-bottom: 0.75em; text-align: center; }
#checkout-page .title.text-danger { color: #a94442; }
#checkout-page .title.text-warning { color: #d89727; }
#checkout-page .title span { font-size: 1.25em; line-height: 0.9em; vertical-align: bottom; }
#checkout-page .lead { }


.empty-shopping-cart .text-center .icon { font-size: 2em; }

@media ( min-width: 768px ) {
	/* Remove controls from Firefox */
	input[type=number] { -moz-appearance: textfield; }

	/* Re-applies the controls on :hover and :focus */
	input[type=number]:hover,
	input[type=number]:focus { -moz-appearance: textfield; }

	/* Remove controls from Safari and Chrome */
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; /* Removes leftover margin */ }

	/* ++++++++++++++++ */
	/* +  MY ACCOUNT  + */
	/* ++++++++++++++++ */

	/* +++++ PANEL ADDRESS  +++++ */
	.my-address .panel-body .list-unstyled li { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
	.container.payment-process { width: 780px; }

	/* ++++++++++++++++++++ */
	/* + PAYMENT PROCESS  + */
	/* ++++++++++++++++++++ */

	/* +++++ SEE SUMMARY PRODUCTS +++++ */
	.body-see-summary-products .product-list > .col-xs-12:first-child { padding-left: 0; }
	.body-see-summary-products .product-list .hidden-xs + .col-xs-12 { padding-left: 0; }
	.body-see-summary-products .product-list .col-xs-12 ~ .col-xs-12 { padding-right: 0; }
	.body-see-summary-products .product-list .product { margin-left: 0; margin-right: 0; }
	.body-see-summary-products .product-list .product .image img { height: 114px; width: 114px; }
	

	/* +++++ SEE SUMMARY PRODUCTS - TAP DRIVING -PRODUCT INFORMATION +++++ */
	.body-see-summary-products .product .product-colors .color,
	.body-see-summary-products .product .product-colors .talla { height: 17px; margin: 0.2em;  width: 17px; }
	.body-see-summary-products .product .product-colors .talla { border: none; font-size: 0.9285em; line-height: 1.4615em; }

	/* ++++++++++++++++++++ */
	/* + PAYMENT PROCESS  + */
	/* ++++++++++++++++++++ */

	/* +++++ PAYMENT METHOD +++++ */
	#panel-payment-methods .collapse.cvv,
	#panel-payment-methods .collapsing.cvv { position: absolute; z-index: 25; }
	#panel-payment-methods .cvv .container-fluid { width: 730px; }
}

@media ( max-width: 768px ) {
	input[type=number] {
		-moz-appearance: textfield;
	}
	
	a.mobil-link { display: inline-block; height: 2.1428em; line-height: 2em; margin: 0.5em 0; }
	
	/* ++++++++++++++++++++++++++ */
	/* +  OVERWIRITE BOOTSTRAP  + */
	/* ++++++++++++++++++++++++++ */

	/* +++++ PANEL +++++ */
	.panel-generic .collapsing {
		-webkit-transition: none;
		   -moz-transition: none;
			-ms-transition: none;
			 -o-transition: none;
				transition: none;
	}

	/* +++++++++++++++++++++ */
	/* +  WINDOW PRE LOAD  + */
	/* +++++++++++++++++++++ */
	#preload { background: rgba(0,0,0,0.5) url('../img/blind-counter-small.gif') no-repeat 50% 50%; }
	
	section.payment-process,
	#payment-process-bar { min-width: 320px; padding-left: 10px; padding-right: 10px; }
	section.payment-process > .row {  margin-left: -10px; margin-right: -10px; }
	section.payment-process > .row > .col-xs-12 {  padding-left: 10px; padding-right: 10px; }

	/* ++++++++++++++++++++ */
	/* + PAYMENT PROCESS  + */
	/* ++++++++++++++++++++ */

	/* +++++ PAYMENT METHOD +++++ */
	#panel-payment-methods .panel-title { font-size: 14px; }
	#panel-payment-methods .panel-title a { padding-left: 0.7142em; padding-right: 7.8125em; }
	#panel-payment-methods .panel-title a small { display: none; visibility: hidden; }
	#panel-payment-methods .payment-methods-images { height: 37px; right: 0.375em; top: 0.375em; width: 100px;  }
	#panel-payment-methods .panel-body small { margin-bottom: 1em; margin-top: 0; }

	/* +++++ REVIEW PAGE +++++ */
	#review-page > .row.review-container { margin: 0 -5px 0.5714em; padding: 0.5714em; }
	.review-detail { padding: 0.7272em; }

	#review-page .review-points { margin-left: 0; margin-right: 0; }
	.review-points .col-xs-12 { padding-left: 10px; padding-right: 10px; }
	.review-purchase { margin-bottom: 0; }

	.panel-generic.panel-review .panel-body { font-size: 0.9285em; }
	.panel-review .panel-body .mobil-link { margin-bottom: 0; }
	
	/* +++++ REVIEW - ALERT PRODUCTS CHANGE +++++ */
	.alert-inventory-manager { padding: 10px; }
	.alert-inventory-manager > strong { display: block; margin-bottom: 0.4285em; }
	.alert-inventory-manager p { color: #444; }
	.alert-inventory-manager ul { padding-left: 1em }
	
	/* +++++ CHECKOUT PAGE +++++ */
	#checkout-page .title { font-size: 1.65em; }
	#checkout-page .lead { font-size: 1.6em; margin-bottom: 0; }
}

@media ( min-width: 481px ) and ( max-width: 767px ) {
	/* ++++++++++++++++++++ */
	/* + PAYMENT PROCESS  + */
	/* ++++++++++++++++++++ */
	.payment-process { margin-top: -64px; }

	/* +++++ PROGRESS BAR +++++ */
	#payment-process-bar { padding-bottom: 6.25em; padding-top: 1em; }
	#payment-process-bar .col-xs-2 p { font-size: 0.9em; }
	
	/* +++++ ERROR MESSAGES +++++ */
	.row.customer-service > .col-sm-6 { width: 50%; }

	/* +++++ SHIPMENT INFORMATION - TAPS DELIVERY AND DRIVING +++++ */
	.header-tab-shipping > li > a { font-size: 1.1429em; height: 60px; line-height: 2em; padding: 0.875em 0.5em; }
	.header-tab-shipping > li > a > span { font-size: 1.25em; }

	/* +++++ SEE SUMMARY PRODUCTS +++++ */
	.body-see-summary-products .product-list > .col-xs-12 { width: 50%; }
	.body-see-summary-products .product-list .hidden-xs { display: block !important; }
	.body-see-summary-products .product-list > .col-xs-12:first-child { padding-left: 0; }
	.body-see-summary-products .product-list .hidden-xs + .col-xs-12 { padding-left: 0; }
	.body-see-summary-products .product-list .col-xs-12 ~ .col-xs-12 { padding-right: 0; }
	.body-see-summary-products .product-list .product { margin-left: 0; margin-right: 0; }
	.body-see-summary-products .product-list .product .col-xs-4.col-images { width: 33.33333333%; }
	.body-see-summary-products .product-list .product .col-xs-8.col-name { width: 66.66666667%; }
	
	/* +++++ PAYMENT METHOD +++++ */
	#panel-payment-methods .cvv .row > .col-xs-12{ width: 50%; }
	
	/* +++++ REVIEW - PRODUCT LIST +++++ */
	.panel-pay .product-list .product .col-images { width: 16.66666666%; }
	.panel-pay .product-list .product .col-name { width: 33.33333333%; }
	.panel-pay .product-list .product .col-xs-12 { width: 50%; }
}


@media ( max-width: 480px ) {

	/* ++++++++++++++++++++ */
	/* + PAYMENT PROCESS  + */
	/* ++++++++++++++++++++ */
	.payment-process { margin-top: -56px; }

	/* +++++ PROGRESS BAR +++++ */
	#payment-process-bar { padding-bottom: 5em; padding-top: 1em; }
	#payment-process-bar .col-xs-2 p { font-size: 0.8em; }

	/* +++++ SHIPMENT INFORMATION - TAPS DELIVERY AND DRIVING +++++ */
	.header-tab-shipping > li > a { display: block; font-size: 1em; line-height: 1.1429em; height: 52px; padding: 0.7143em 0.5714em; text-align: left; }
	.header-tab-shipping > li > a > span { float: left; font-size: 1.2857em; margin-right: 4px; top: 4px; }

	.tab-content.body-tap-shipping { padding-top: 1em; }
	
	/* +++++ PAYMENT METHOD +++++ */
	/* .collapse.cvv .row > .col-xs-6{ width: inherit; } */
	
	/* +++++ REVIEW - PRODUCT LIST +++++ */
	.panel-pay .product .price,
	.panel-pay .product .quantity { margin-bottom: 0; }
	.panel-pay .product-list .product > .col-name { padding-right: 0; }
	.panel-pay .product-list .product .col-quantity-price { margin-top: 0.714285em; }
	.panel-pay .product-list .product .col-quantity { padding-left: 0; text-align: left; }
	.panel-pay .product-list .product .col-price { padding-right: 0; }

	.panel-pay .product-list > .col-xs-12 { padding-left: 0; padding-right: 0; }
}
.none { display: none !important; }