@font-face {
  font-family: 'ico-exito';
  src:  url('../fonts/ico-exito.eot?iv5ol8');
  src:  url('../fonts/ico-exito.eot?iv5ol8#iefix') format('embedded-opentype'),
    url('../fonts/ico-exito.ttf?iv5ol8') format('truetype'),
    url('../fonts/ico-exito.woff?iv5ol8') format('woff'),
    url('../fonts/ico-exito.svg?iv5ol8#ico-exito') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icoe-"], [class*="icoe-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-exito' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: text-top;
}

.icoe-alerta:before {
  content: "\e900";
}
.icoe-arrow-01-bold-bottom:before {
  content: "\e901";
}
.icoe-arrow-01-bold-left:before {
  content: "\e902";
}
.icoe-arrow-01-bold-right:before {
  content: "\e903";
}
.icoe-arrow-01-bold-top:before {
  content: "\e904";
}
.icoe-arrow-02-bold-bottom:before {
  content: "\e905";
}
.icoe-arrow-02-bold-left:before {
  content: "\e906";
}
.icoe-arrow-02-bold-right:before {
  content: "\e907";
}
.icoe-arrow-02-bold-top:before {
  content: "\e908";
}
.icoe-arrow-02-light-bottom:before {
  content: "\e909";
}
.icoe-arrow-02-light-left:before {
  content: "\e90a";
}
.icoe-arrow-02-light-right:before {
  content: "\e90b";
}
.icoe-arrow-02-light-top:before {
  content: "\e90c";
}
.icoe-arrow-circle-bottom:before {
  content: "\e90d";
}
.icoe-arrow-circle-left:before {
  content: "\e90e";
}
.icoe-arrow-circle-right:before {
  content: "\e90f";
}
.icoe-arrow-circle-top:before {
  content: "\e910";
}
.icoe-ayuda:before {
  content: "\e911";
}
.icoe-borrar:before {
  content: "\e912";
}
.icoe-borrar-circle:before {
  content: "\e913";
}
.icoe-buscar:before {
  content: "\e914";
}
.icoe-calendario:before {
  content: "\e915";
}
.icoe-cambio-gratis:before {
  content: "\e916";
}
.icoe-cambios:before {
  content: "\e917";
}
.icoe-card:before {
  content: "\e918";
}
.icoe-card-american:before {
  content: "\e919";
}
.icoe-card-dinner:before {
  content: "\e91a";
}
.icoe-card-maestro:before {
  content: "\e91b";
}
.icoe-card-mastercard:before {
  content: "\e91c";
}
.icoe-card-paypal:before {
  content: "\e91d";
}
.icoe-card-visa:before {
  content: "\e91e";
}
.icoe-carro-compras:before {
  content: "\e91f";
}
.icoe-carro-compras-add:before {
  content: "\e920";
}
.icoe-carro-compras-lleno:before {
  content: "\e921";
}
.icoe-deporte:before {
  content: "\e922";
}
.icoe-documento:before {
  content: "\e923";
}
.icoe-domicilios:before {
  content: "\e924";
}
.icoe-editar:before {
  content: "\e925";
}
.icoe-electrohogar:before {
  content: "\e926";
}
.icoe-entrega-puerta:before {
  content: "\e927";
}
.icoe-ferreteria:before {
  content: "\e928";
}
.icoe-filtro:before {
  content: "\e929";
}
.icoe-lista-compras:before {
  content: "\e949";
}
.icoe-guia-tallas:before {
  content: "\e92a";
}
.icoe-hogar-decoracion:before {
  content: "\e92b";
}
.icoe-localizacion:before {
  content: "\e92c";
}
.icoe-mas-circle:before {
  content: "\e92d";
}
.icoe-menos-circle:before {
  content: "\e92e";
}
.icoe-menu:before {
  content: "\e92f";
}
.icoe-mercado:before {
  content: "\e930";
}
.icoe-muebles:before {
  content: "\e931";
}
.icoe-mundo-bebe:before {
  content: "\e932";
}
.icoe-ofertas:before {
  content: "\e933";
}
.icoe-ok-circle:before {
  content: "\e934";
}
.icoe-ordenar:before {
  content: "\e935";
}
.icoe-otros-servicios:before {
  content: "\e936";
}
.icoe-preguntas:before {
  content: "\e937";
}
.icoe-producto-exclusivo:before {
  content: "\e938";
}
.icoe-punto-entrega:before {
  content: "\e939";
}
.icoe-puntos-exito:before {
  content: "\e93a";
}
.icoe-questions:before {
  content: "\e948";
}
.icoe-ropa:before {
  content: "\e93c";
}
.icoe-salud-bellesa:before {
  content: "\e93d";
}
.icoe-seguridad:before {
  content: "\e93e";
}
.icoe-shipping-car:before {
  content: "\e93f";
}
.icoe-tarjeta-regalo:before {
  content: "\e940";
}
.icoe-tecnologia:before {
  content: "\e941";
}
.icoe-usuario:before {
  content: "\e942";
}
.icoe-usuario-registrado:before {
  content: "\e943";
}
.icoe-web-site:before {
  content: "\e944";
}
.icoe-zoom-image:before {
  content: "\e945";
}
.icoe-sm-facebook:before {
  content: "\e93b";
}
.icoe-sm-pinterest:before {
  content: "\e946";
}
.icoe-sm-twitter:before {
  content: "\e947";
}