/*font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Macondo Swash Caps', cursive;*/

body{

	background-image: url("../publimagenes/colores.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Comic Sans MS;

}
header {
	width:100%;
	height: 23%;
	background: black;
	display: inline-block;
	border-radius: 35px 35px 35px 35px;
	margin: 5px 5px 2px 5px;
	position: relative;
	opacity: 0.95;
}

table{
	background-color: black;
	background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -o-background-size: 100% 100%;
         background-repeat: no-repeat;

    background-position: center;

    box-shadow: 0px 0px 10px white;
	-moz-box-shadow: 0px 0px 10px white;
	-webkit-box-shadow: 0px 0px 10px white;
	-o-box-shadow: 0px 0px 10px white;
	border-radius: 35px 35px 35px 35px;
	border-radius: -moz-35px 35px 35px 35px;
	border-radius: -webkit-35px 35px 35px 35px;
	padding: 1em;
	opacity: 0.8;
	color: white;
}

.zoomimg{
		transition: 1.5s ease;
 		-moz-transition: 1.5s ease; /* Firefox */
 		-webkit-transition: 1.5s ease; /* Chrome - Safari */
		-o-transition: 1.5s ease; /* Opera */
	}
.zoomimg:hover{
		transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */
		margin-left: 25px;
		-moz-margin-left: 25px;
	}

#video {
	height: 15em;
	width: 15em;

}

#logoizquierdo {
	width: 15%;
	height: 15%;
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius:  35px 35px 35px 35px;
	-webkit-border-radius:  35px 35px 35px 35px;
	-o-border-radius:  35px 35px 35px 35px;
}

#logoderecho {
	width: 80%;
	height: 10%;
	float: left;
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius:  35px 35px 35px 35px;
	-webkit-border-radius:  35px 35px 35px 35px;
	-o-border-radius:  35px 35px 35px 35px;
}

#qs{

	font-size: 1.2em;
	text-align: center;
	border: 2px;
	float: left;
	color: white;
}

#servicios{
	/*background-image: url(../publi_imagenes/fondobody5.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	margin: auto;
	width: 50%;
	text-align: center;
	color: white;
	border-radius: 35px 35px 35px 35px;
	opacity: 0.9;

}

#servicios a:hover {
	background-color: rgba(0,0,0,8.0);
	color: rgba(232,27,27,1.0);
}

#pagina_principal{
	width: 70%;
	margin: auto;
}

#fondo_servicio{
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;

}

#header {
	margin: auto;
	border-radius: 35px 35px 35px 35px;
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	text-align: center;
	background-color: black;
	width: 80%;
	height: auto;
	opacity: 0.99;
	color: yellow;

}

#titulos_servicio{
	color: white;
}

ul, ol {
	list-style: none;
	display: inline-block;

}

.nav li a:hover {
	background-color: rgba(0,0,0,8.0);
	color: rgba(232,27,27,1.0);
}

.nav li a {
	background-color: black;
	color: 	yellow;
	text-decoration: none;
	padding: 5px 15px;
	display: block;
}

.segundo_li {

	padding: -5px;
}

.nav > li {
	float: left;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul {
	display: block;
}

/*para submenus del submenu*/

.nav li ul li {
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}

@media (max-width:768px) {


	/*ul {
		width: 100%;
		display: none;
	}*/
	/*ul li {
		display: block;
		text-align: center;
	}*/
	.active{
		display: block;
	}

	#servicios{
	/*background-image: url(../publi_imagenes/fondobody5.jpg);
	background-repeat: no-repeat;*/
	margin: auto;
	width: 90%;
	text-align: center;
	padding: 10px;
	border-radius: 35px 35px 35px 35px;
	color: white;
	}

	#fondo_servicio{
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
}

	table {
		width: 85%;
		height: auto;
	}

	header {
	width:100%;
	height: 12%;
	background: black;
	display: inline-block;
	border-radius: 35px 35px 35px 35px;
	margin: 5px 5px 2px 5px;
	position: relative;
	}


body{
	background-image: url("/publimagenes/colores.png");
	background-repeat: no-repeat;
	background-size: cover;

	}

}

h1{
	font-family: 'Macondo Swash Caps', cursive;
	color: yellow;
	text-shadow: 3px 3px 5px black;
	text-align: center;
}

h2{
	font-family: 'Francois One', sans-serif;
	color: #990033;
	text-shadow: 2px 2px 4px #990033;
}


footer {
	display: table;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px;
	text-align: center;
	width: 99%;
	height: 10%;
	background-color: black;
	border-radius: 35px 35px 35px 35px;
	/*border: 2px solid white;
	box-shadow: 0px 0px 10px white;*/
	opacity: 0.8;
}



table tr td a{
	margin: auto;
	color: black;
	text-decoration: none;
	padding: 2px;
	text-shadow: 0px 0px 15px white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 100%;

}



table tr td img{
	height: 3em;
	width: 3em;
	display: inline;
	text-align: center;
}


table tr td a:hover{
	color: #990033;
}
